body {
    text-align: center;
    background-color: rgb(53, 170, 141);
    color:rgb(255,255,255);
    font-size: 1.4rem;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.label-search {
    margin-right: 0.5%;
    margin-top: 0.5%;
}

.input-search {
    width: 15%;
}

.main-result {
    box-shadow: 0 4px 0 4px rgba(7, 146, 111, 0.144);
    border: 5px solid rgb(255,255,255);
    background-color: rgb(21, 73, 60);
    
}
@media only screen and (min-width: 600px) {
    .main-result {
        margin: 2% 30% 0 30%;
    }
  }
.error-message {
    color: rgb(250, 7, 7);
}

.main-description{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}

.main-spaces{
    margin-bottom:-10%;
}

.weather-icon{
    margin-left: 20%;
    margin-bottom:50%;
}

.sub-title-card{
    box-shadow: 0 1px 0 1px rgba(85, 121, 112, 0.144);
    border: 5px solid rgb(255,255,255);
    margin: 6% 30% 0 30%;

}