body {
    text-align: center;
    background-color: #DDFFD9;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.label-search {
    margin-right: 1%;
    margin-top: 0.5%;
}

.input-search {
    width: 15%;
}

.main-result {
    box-shadow: 0 4px 0 4px rgba(7, 146, 111, 0.144);
    border: 5px solid rgb(3, 39, 58);
    margin: 2% 30% 0 30%;
}

.error-message {
    color: rgb(250, 7, 7);
}