body {
    text-align: center;
    background-color: #DDFFD9;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.label-search {
    margin-right: 1%;
    margin-top: 0.5%;
}

.input-search {
    width: 15%;
}

.error-message {
    color: rgb(250, 7, 7);
}

#results-container {
    display: none;
}

.main-result {
    box-shadow: 0 4px 0 4px rgba(7, 146, 111, 0.144);
    margin: 2% 20% 4% 20%;
    background-color: #BBE5ED;
}


.main-result, .weather-item {
    padding: 20px;
    box-shadow: 0 4px 0 4px rgba(67, 67, 67, 0.297);
    border-radius: 10px;
}

#results-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.weather-item {
    min-width: 200px;
    margin: 20px;
    background-color: #91F5AD
}